*.user
Debug*/
.settings
bckp/
data/
ipch/
lib/
obj/
.cproject
.project
CGFExample.launch
CGFExample.sdf
CGFExample.sln
CGFExample.suo
CGFExample.vcxproj
CGFExample.vcxproj.filters
CGFExample.vcxproj.user
makefile
README_CHANGELOG.txt
